/*
@media (min-width:320px) {  smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:480px) {  smartphones, Android phones, landscape iPhone  }
@media (min-width:600px) {  portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (min-width:801px) {  tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) {  big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) { hi-res laptops and desktops   }
*/

:root {
  --color-white: #f8f8f2;
  --color-black: #1a1a1a;
  --color-brown: #cfac8c;
  --color-brown-button: #977656;
  --color-brown-active: #f2dac2;
  --color-foreground: #292929;
  --color-orange: #ff9000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body,
#root {
  height: 100vh;
}
