* {
  font-family: "Inter", sans-serif;
}

:root {
  --color-white: #f8f8f2;
  --color-black: #1a1a1a;
  --color-brown: #cfac8c;
  --color-foreground: #292929;
}

div.wrapper {
  width: 100%;
  height: 100vh;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

div.wrapper header {
  width: 100%;
  height: 3rem;

  position: fixed;
  z-index: 15;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem;
  /* FIXME change background based on background */
  background-color: var(--color-black);
}
div.wrapper header > img {
  width: 7rem;
  filter: invert(1);
}

div.wrapper section {
  width: 100%;
  height: 100vh;
  padding-bottom: 6rem;

  scroll-snap-align: start;
}
div.wrapper section.one {
  background-size: cover;
  background-position: center;
  background-image: url("background.png");

  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
}

div.wrapper section.one div.content {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 0 2.5rem;

  height: 750%;
}
div.wrapper section.one div.content h1 {
  color: #f2dac2;
  text-align: center;
  font-family: "Karantina", cursive;
  font-weight: 700;
  letter-spacing: 0.08em;

  margin-bottom: 1rem;
  font-size: 4rem;
}

div.wrapper section.one div.content p {
  color: var(--color-brown);
  text-align: center;
  font-family: "Karantina", cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
}

div.wrapper section.one div.info {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 25%;
}
div.wrapper section.one div.info p {
  color: var(--color-white);
  text-align: center;

  font-size: 0.75rem;
}
div.wrapper section.one div.info img {
  width: 2rem;
  margin-bottom: 0.25rem;
  filter: invert();
}

div.wrapper section.two {
  background-color: var(--color-foreground);
}
div.wrapper section.two div.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding: 0 2.5rem;
}
div.wrapper section.two > span h1 {
  color: var(--color-white);
}

div.wrapper section.two div.content div.services {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 2rem;
}
div.wrapper section.two div.content div.services > div {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 0.5rem;
}
div.wrapper section.two div.content div.services > div > h4 {
  color: var(--color-white);
}
div.wrapper section.two div.content div.services > div > img {
  width: 3rem;
  filter: invert();
}
div.wrapper section.two div.content div.services > div > p {
  text-align: center;
  color: var(--color-white);
  white-space: break-spaces;

  font-size: 80%;
}

div.wrapper section.three {
  background-color: var(--color-foreground);
}
div.wrapper section.three div.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding: 0 1.5rem;
}
div.wrapper section.three > span h1 {
  color: var(--color-white);
}
div.wrapper section.three div.content div.portfolio {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5rem;
  padding-top: 1rem;
}

div.wrapper section.three div.content div.portfolio div.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
div.wrapper section.three div.content div.portfolio div.column img {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

div.wrapper section.three div.content button {
  background-color: var(--color-brown);
  padding: 1rem;

  margin-top: 2rem;

  display: flex;
  border: none;
  border-radius: 4px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
div.wrapper section.three div.content button p {
  color: var(--color-white);
  font-weight: bold;
}

div.wrapper section.four {
  background-color: var(--color-foreground);
}
div.wrapper section.four div.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding: 0 1.5rem;
}
div.wrapper section.four > span h1 {
  color: var(--color-white);
}

div.wrapper section.four div.content div.products {
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;

  margin-top: 2rem;
}

div.wrapper section.four div.content div.products div.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(50% - 0.5rem);
  height: fit-content;

  padding: 1rem;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
div.wrapper section.four div.content div.products div.product img {
  width: 100%;
}
div.wrapper section.four div.content div.products div.product h4 {
  color: var(--color-foreground);
}
div.wrapper section.four div.content div.products div.product p {
  color: var(--color-foreground);
  font-size: 80%;
  margin-top: 0.4rem;
}

div.wrapper section.four div.content button {
  background-color: var(--color-brown);
  padding: 1rem;

  margin-top: 2rem;

  display: flex;
  border: none;
  border-radius: 4px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
div.wrapper section.four div.content button p {
  color: var(--color-white);
  font-weight: bold;
}

div.wrapper section.five {
  background-color: var(--color-foreground);
}

div.wrapper section.five span.section-title h1 {
  color: var(--color-white);
}

div.wrapper section.five div.content {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 0 1.5rem;
  padding-top: 2.5rem;
}

div.wrapper section.five div.content div {
  margin-bottom: 1.5rem;
}

div.wrapper section.five div.content div p.title {
  color: var(--color-brown);
  font-weight: 700;
  font-size: 0.95;
  margin-bottom: 4px;
}

div.wrapper section.five div.content div p.info {
  color: var(--color-white);
  font-weight: 600;
  margin-bottom: 2px;
}

div.wrapper section.five div.content div p.sub {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
}

div.wrapper section.five div.content div.map {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  background-color: var(--color-black);
  border-radius: 4px;
}

div.wrapper section.five div.content div.map iframe {
  border: none;
  border-radius: 4px;

  width: 100%;
  height: 200px;
}
/* GLOBAL */

div.wrapper section span.section-title {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  padding-top: 1.5rem;
}
div.wrapper section span.section-title h1 {
  font-family: "Roboto Condensed", sans-serif;
}
div.wrapper section span.section-title > span {
  width: 6px;
  height: 6px;

  background-color: var(--color-brown);
  border-radius: 100%;
  position: relative;
}
div.wrapper section span.section-title > span:first-child {
  left: -0.75rem;
  top: 0.75rem;
}
div.wrapper section span.section-title > span:last-child {
  left: 0.75rem;
  top: 0.75rem;
}
